* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* Inicio CSS da Tela Index.html */

.sidebar {
    width: 20vh;
    background-color: rgb(94, 182, 230);
    height: 100vh;
}

.sidebar ul {
    margin-top: 10vh;
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration: none;
    transition: background-color 0.3s ease;
    /* Adicionando transição */

}

.sidebar ul li a:hover {
    color: black;
    background-color: rgb(114, 191, 233);

}

.content {
    flex: 1;
    padding: 20px;
}

/* Fim CSS da Tela Index.html */



